html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*START ADDED BY: AFPAPNA 02082015*/
.navbar {
  position: absolute;
  min-height: 85px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

.navbar-brand {  
  float: left;
  height: 70px; 
  padding: 5px 5px;
  font-size: 18px;
  line-height: 20px; 
}
  .navbar-brand > img {  
  display: block;
  height: 120%; 
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 50px;
}

@media (max-width: 767px) {
  .navbar-brand > img {
  display: block;
  height: 80%; 
  }
}

.navbar-inverse {
  background: -webkit-gradient(linear, left top, left bottom, from(#A9DE91), to(#3B8215));
  background: -moz-linear-gradient(top, #A9DE91, #3B8215);
  background: -o-linear-gradient(top, #A9DE91,  #3B8215);
  border-color: transparent;
}

.navbar-inverse .navbar-text {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF; 
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #F9FF89;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #F9FF89;
  background-color: transparent;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
 /* position: fixed;*/
  right: 0;
  left: 0;
  z-index: 1030;
}

/*START ADDED BY: AFPAPNA 04022015*/
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #101010;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #F9FF89;
  background-color: transparent;
}
/*END ADDED BY: AFPAPNA 04022015*/

.breadcrumb {
  padding: 25px 15px 13px;
  margin-bottom: 30px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* @@@@@@@@@@@@@@ B @@@@@@@@@@@@@@ O @@@@@@@@@@@@@@ D @@@@@@@@@@@@@@ Y @@@@@@@@@@@@@@ */
.jumbotron {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #F0F8FF;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #F0F8FF;
}
.container .jumbotron,
.container-fluid .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding: 48px 0;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SLIDE @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

#slideMain {
    position: relative; 
    margin-top: -20px;
    top: 0px;
    left: 0px;
}

.slideDiv {
    cursor: move; 
    position: absolute; 
    overflow: hidden;
    left: 0px; 
    top: 0px;    
}

.slideImg, .slideDiv, #slideMain {
    width: 100%; 
    height: 350px;
}

.slideBullet { 
    position: absolute;   
    bottom: 300px;
    left: 432px; 
    width: 96px; 
    height: 18px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SERVICES @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.servicesImg {
    width: 300px;
    height: 120px;
}

.accountT {
    margin-left: 20%;
}
.accountF {
    margin-left: 1%;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ LOG IN @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.site-login {
  padding: 30px 15px;
  margin-bottom: 30px;
  text-align: center;
}

.btn, .btn-primary {
    background-color: #3B8215;
    border-color: #A9DE91;
}

.btn:hover, .btn-primary:hover {
    background-color: #3B8215;
    border-color: #3B8215;
    color: #F9FF89;
}

@media screen and (min-width: 768px) {
  .site-login {
    padding: 48px 0;
  }
  .container .site-login,
  .container-fluid .site-login {
    padding-right: 60px;
    padding-left: 60px;
  }
  .site-login h1,
  .site-login .h1 {
    font-size: 63px;
  }
}
/*END ADDED BY: AFPAPNA 02082015*/

/* START ADDED BY: AFPAPNA 02152015 */
.login-form-main{
  text-align: center; 
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
}

.login-form {
  margin-right: 20%;
  margin-left: 20%;
  border-radius: 20px;
  border: 1px solid #3B8215;
}

.login-form-form {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ LIST - APPOINTMENT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.list-appointment {
   margin-top: 3%;
}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ SIDE NAVIGATOR @@@@@@@22@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.side-navigator{
  margin-top: 13%;
  border-radius: 15px;
  background-color: #F9F8F6;  
}

.side-nav{
  background: #A9DE91;
  background-image: -webkit-linear-gradient(top, #A9DE91, #A9DE91);
  background-image: -moz-linear-gradient(top, #A9DE91, #A9DE91);
  background-image: -ms-linear-gradient(top, #A9DE91, #A9DE91);
  background-image: -o-linear-gradient(top, #A9DE91, #A9DE91);
  background-image: linear-gradient(to bottom, #A9DE91, #A9DE91);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  text-shadow: 1px 1px 20px #666666;
  -webkit-box-shadow: 1px 2px 3px #666666;
  -moz-box-shadow: 1px 2px 3px #666666;
  box-shadow: 1px 2px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 15px;
  padding: 5px 40px 5px 20px;
  text-decoration: none;

  margin-left: 25px;
  margin-bottom: 3px;
  line-height: 20px;
  width: 80%;
  text-align: left;  
}

.side-nav:hover {
  background: #3B8215;
  background-image: -webkit-linear-gradient(top, #3B8215, #3B8215);
  background-image: -moz-linear-gradient(top, #3B8215, #3B8215);
  background-image: -ms-linear-gradient(top, #3B8215, #3B8215);
  background-image: -o-linear-gradient(top, #3B8215, #3B8215);
  background-image: linear-gradient(to bottom, #3B8215, #3B8215);
  opacity: 0.8;
  color: #FFFFFF;
}


/* END ADDED BY: AFPAPNA 02152015 */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ CONTENT BREAK @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* START ADDED BY: AFPAPNA 03102015 */
hr.faded { 
     clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin-top:  0.5em;
  margin-bottom: 1.5em;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(221,221,221) 10%,
      rgb(221,221,221) 90%,
      rgb(255,255,255) 100%
  );
}

hr.carved {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

p.required-field {
    font-weight: bold;
}
p.required-field:after {
    color: #e32;
    content: ' *';
    display:inline;
}
/* END ADDED BY: AFPAPNA 03102015 */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ BUTTONS @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.btn:hover, .btn-primary:hover, .btn-success:hover {
    background-color: #3B8215;
    border-color: #3B8215;
    color: #F9FF89;
}


/* START ADDED BY: AFPAPNA 03102015 */
.btn, .btn-primary {
  color: #fff;
  background-color: #3B8215;
  border-color: #A9DE91;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #3B8215;
  border-color: #3B8215;
  color: #F9FF89;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  color: #fff;
  background-color: #3B8215;
  border-color: #A9DE91;
}
.btn-primary .badge {
  color: #fff;
  background-color: #3B8215;
  border-color: #A9DE91;
}

.btn-success {
  color: #fff;
  background-color: #3B8215;
  border-color: #A9DE91;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-color: #3B8215;
  border-color: #3B8215;
  color: #F9FF89;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  color: #fff;
  background-color: #3B8215;
  border-color: #A9DE91;
}
.btn-success .badge {
  color: #fff;
  background-color: #3B8215;
  border-color: #A9DE91;
}
/* START ADDED BY: AFPAPNA 03242015 */

/* END ADDED BY: AFPAPNA 03242015 */


.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}

/* END ADDED BY: AFPAPNA 03102015 */


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ BUTTON DEFAULT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #E5E4E2;
  border-color: #ccc;
}
/* END ADDED BY: AFPAPNA 03042015 */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ PAYMENT BUTTON @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* START ADDED BY: AFPAPNA 03242015 */

.btn-right {
  float: right;
  padding-right: 9%;
}

.btn-left {
  float: left;
}

/* END ADDED BY: AFPAPNA 03242015 */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ MAINTENANCE INDEX @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* START ADDED BY: AFPAPNA 03292015 */

.form-maintenance{
  margin-left: 10%;
}

.submit-maintenance{
  float: right;
  margin-right: 20px;
}

.index-hdr {
   margin-left: 5%;
}

.index-maintenance{
  margin-left: 10%;
  width: 80%;
}

.view-maintenance{
  width: 80%;
  margin-left: 10%;
}

.maintenance-btn{
  float: right;
  margin-right: 15%;
}

.width-10{
  width:10%;
}

.width-15{
  width:15%;
}

.width-20{
  width:20%;
}

.width-60{
  width:60%;
}

/* END ADDED BY: AFPAPNA 03292015 */

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ APPOINTMENT REPORT @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* START ADDED BY: ECHIDALGO 04022015 */

h4.v-report {outline:none; }
h4.v-report strong {line-height:30px;}
h4.v-report:hover {text-decoration:none;} 
h4.v-report span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
h4.v-report:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
    
/*CSS3 extras*/
h4.v-report span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
/* END ADDED BY: ECHIDALGO 04022015 */

/* START ADDED BY: AFPAPNA 04032015 */
.reportContent{
  padding: 10px 10px 10px 10px;
  background-color: #F9F8F6; 
  border-radius: 10px;
  width: 80%;
}

.reportSubmit{
  float: right;
  padding-right: 70px;
}
/* END ADDED BY: AFPAPNA 04032015 */





